#root,
.fill {
    width: 100%;
    height: 100%;
    margin: 0 auto !important;
}

.fluid {
    width: 100%;
}

.text-left {
    text-align: left;
}

.comment-padded {
    margin-left: 20px !important;
}

.toolbar-icon {
    font-size: 0.8rem !important;
    margin-right: 3px !important;
}

.ui.comments {
    margin-top: 0;
}

.background-black {
    background-color: black;
}

.inline-padded {
    margin-right: 5px !important;
}

body {
    background-color: #FAFAFA;
}
